html, body {
    font-family: 'Fira Code', monospace;
    @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
    
    //COR 1
    // background-color: #0d0d12;
    // background-image: linear-gradient(0deg, #0d0d12 0%, #0f1016 100%);
    
    //COR 2  
    // background-color: #282a36;
    // background-image: linear-gradient(0deg, #282a36 0%, #252733 62%);

    //COR3
    background-color: #1c1c24;
    background-image: linear-gradient(0deg, #1c1c24 0%, #1f1f29 62%);

    
}