//Cores

$cor2:#44475A ;
$cor_branco_geral:#F8F8F2 ;
$cor7:#FFB86C ;
$cor10:#FF5555 ;
$cor11:#F1FA8C ;

// Cor das letras
$cor_letra_p_azul:#8BE9FD ;
$cor_letra_titulo:#50FA7B ;
$cor_letra_p_lilas:#BD93F9 ;
$cor_pontuacao:#FF79C6 ;

// Cor dos icones
$cor_icones:#6272A4 ;

// Cor do backgrond

$cor_background:#0D0E13 ;

// Cores background da navbar

$cor_nav_vertical:#2f3348;
$cor_nav_horizontal_inferior:#232635f9;
$cor_nav_horizontal_superior:#26293af9;

