.navbar {
    position: fixed;
    .navbar-vertical.close{
        background-color: #343644;
        width: 4rem;
        transition: 0.4s;
        

    }

    .navbar-vertical {
        transition: 0.4s;
        background-color: #262939;
        width: 20rem;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: start;
        .nome-navbar {
            figure img {
              margin: 3rem 0 5rem 0.5rem;
                width: 3rem;
                
            }
        }
        
        
        .sobre-mim {
            display: flex;
            align-items: center;
            a {
                .click-sobre {
                    transition: 0.2s;
                }
                
                .click-styled {
                    fill:$cor_branco_geral;
                    border-left:5px solid $cor_pontuacao;
                    width: 2.2rem;
                    transition: 0.2s;
                    
                } 
            }
            
            .navbar-open-sobre.show-menu {
                display: block;
                
            }

            .navbar-open-sobre {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 19rem;
                margin-left: 7rem;
                font-size: 1.5rem;
                display: none;
               
                h1 {
                    margin-bottom: 5.4rem;
                    text-transform: uppercase;
                    color: $cor_branco_geral;
                }
                ul {
                    li {
                        padding: 2rem 0;
                                              
                        a {
                            text-decoration: none;
                            color: $cor_branco_geral;
                            
                            
                        }
                    }
                   
                } 
                .drop {
                    padding-top: 2rem;
                }
                
            }
        }
        .skils {
            display: flex;
            align-items: center;
            a {
                .click-skils {
                    transition: 0.2s;
                }
                
                .click-styled {
                    fill:$cor_branco_geral;
                    border-left:5px solid $cor_pontuacao;
                    width: 2.2rem;
                    transition: 0.2s;
                    
                } 
            }
            .navbar-open-skils.show-menu {
                display: block;
                
            }
            .navbar-open-skils {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 19rem;
                margin-left: 7rem;
                font-size: 1.5rem;
                display: none;
               
                h1 {
                    margin-top: -15.2rem;
                    text-transform: uppercase;
                    color: $cor_branco_geral;
                }
                input {
                    margin-top: 2rem;
                    height: 2rem;
                    background-color: transparent;
                    border: 1px solid $cor_pontuacao;
                    color: $cor_branco_geral;
                    
                }
                ul {
                    margin-top: 4rem;
                    li {
                        padding: 2rem 0;
                                              
                        a {
                            text-decoration: none;
                            color: $cor_branco_geral;
                            
                            
                        }
                    }
                   
                } 
                .drop {
                    
                    padding-top: 2rem;
                }
                
            }
        }
        .portfolio-icon {
            display: flex;
            align-items: center;
            a {
                .click-portfolio {
                    transition: 0.2s;
                }
                
                .click-styled {
                    fill:$cor_branco_geral;
                    border-left:5px solid $cor_pontuacao;
                    width: 2.2rem;
                    transition: 0.2s;
                    
                } 
            }
            .navbar-open-portfolio.show-menu {
                display: block;
                
            }
            .navbar-open-portfolio {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 19rem;
                margin-left: 7rem;
                font-size: 1.5rem;
                display: none;
               
                h1 {
                    margin-top: -26.6rem;
                    text-transform: uppercase;
                    color: $cor_branco_geral;
                }
                input {
                    margin-top: 2rem;
                    height: 2rem;
                    background-color: transparent;
                    border: 1px solid $cor_pontuacao;
                    color: $cor_branco_geral;
                    
                }
                ul {
                    margin-top: 4rem;
                    li {
                        padding: 2rem 0;
                                              
                        a {
                            text-decoration: none;
                            color: $cor_branco_geral;
                            
                            
                        }
                    }
                   
                } 
                .drop {
                    
                    padding-top: 2rem;
                }
                
            }
        }
        .icon-contato {
            display: flex;
            align-items: center;
            a {
                
                .click-styled {
                    fill:$cor_branco_geral;
                    border-left:5px solid $cor_pontuacao;
                    width: 2.2rem;
                    transition: 0.2s;
                    
                } 
            }
            
            .navbar-open-contato.show-menu {
                display: block;
                
            }

            .navbar-open-contato {
                position: absolute;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 19rem;
                margin-left: 7rem;
                font-size: 1.5rem;
                display: none;
               
                h1 {
                    margin-top: -35.5rem;
                    margin-bottom: 5rem;
                    text-transform: uppercase;
                    color: $cor_branco_geral;
                }
                ul {
                    li {
                        
                                              
                        a {
                            display: flex;
                            text-decoration: none;
                            color: $cor_branco_geral;
                            svg {
                                fill: aqua;
                            }
                            
                        }
                    }
                   
                } 
                .drop {
                    padding-top: 2rem;
                }
                
            }
        }
        li {

            a {

                svg {
                    
                    width: 2rem;
                    height: 2rem;
                    fill: $cor_icones;
                    padding: 0.7rem 1.2rem;
                    margin: 1rem 0;
                    
                    
                }
            }
            
        }
    
        .drop-down {
            .cores {
                display: none;
            }
            &:hover {
                .cores{
                    display: block;
                    position: absolute;
                    margin-left: 4.3rem;
                    margin-top: -7rem;
                    color: $cor_branco_geral;
                   li figure img {
                        width: 3rem;
                        transition: 0.6s;
                        &:hover{
                            width: 3.5rem;
                            transition: 0.6s;
                        }

                   }
                }
            }
        } 
        
        
    
    }
}