.navbar {
    position: fixed;

    .navbar-vertical {
        background-color: #343644;
        width: 4rem;
        height: 100vh;
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        
       li {
            
            a {
               
                svg {
                    width: 2rem;
                    height: 2rem;
                    fill: $cor_icones;
                    padding: 1.3rem;
                }
            }
       }
    }
    .navbar-horizontal {
        background-color: #1c1e26;
        width: 100vw;
        
        .home-superior {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 1rem 4rem;
            font-size: 1.5rem;
           
                
                
            span {
                background-image: url('../../img/css-icon.svg');
                background-size: 1.5rem, contain;
                background-position: 14px 26px;
                background-repeat: no-repeat;

                background-color: #232635f9;
                padding: 1.5rem 1.5rem 1rem 2.5rem;
                text-align: center;
                color: $cor_branco_geral;
            }
            
            
            a {
                background-color: $cor_branco_geral;
                border: 1px solid $cor_branco_geral;
                border-radius: 10px;
                padding: 0 0.7rem;
                

                text-decoration: none;
                color: black;
            }
        }
        .home-inferior {
            padding: 0.5rem 5rem;
            background-color: #232635f9;
            color: $cor_branco_geral; 
            

            span {
                background-image: url('../../img/css-icon.svg');
                background-size: 1rem, contain;
                background-position: left, bottom;
                background-repeat: no-repeat;
                padding-left: 1rem;
            }
           
        }
    }
}
