.portfolio {
    margin-left: 15rem;
    margin-top: 30rem;
    line-height: 1.8;
    .text-portfolio {
        @include text-titulo;
       
        .text-azul {
            @include text-azul;
            margin-left: 5rem;
        }
        .text-lilas {
            @include text-lilas;
            margin-left: 1rem;
            
        }
        .pontuacao {
            @include text-pontuacao;
        }
        span {
            color: $cor_branco_geral;
        }
    }
    .portfolio-content{
        margin-left: 5rem;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        
        .teste {
            margin-right: 0.5rem;
            
            
        }
    }

    .chaves-inferior {
        font-size: $fonte-titulo;
        color: $cor_branco_geral;
        margin-top: 5rem;
    }
}