.portfolio {
    margin-left: 15rem;
    margin-top: 30rem;
    line-height: 1.8;
    .text-portfolio {
        @include text-titulo;
       
        .text-azul {
            @include text-azul;
            margin-left: 5rem;
        }
        .text-lilas {
            @include text-lilas;
            margin-left: 1rem;
            
        }
        .pontuacao {
            @include text-pontuacao;
        }
        span {
            color: $cor_branco_geral;
        }
    }
    .portfolio-content{
        margin-left: 5rem;
        margin-top: 5rem;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        
        .teste {
            margin-bottom: -2rem;
            a {
                text-decoration: none;
                color: $cor_branco_geral;
                margin-right: 0.5rem;
                position: relative;
                figure img {
                    width: 21rem;
                    height: 21rem;
                }
                .ativo {
                    display: none;
                    transition: 1s;
                }
                .teste-portfolio-card {
                    position: absolute;
                    margin-top: -21.6rem;
                    background-color:rgba($color: $cor_nav_vertical, $alpha: 0.8);
                    width: 21rem;
                    height: 21rem;
                    .x {
                        position: absolute;
                        width: 1.6rem;
                        margin: -8.4rem 0 0 18rem;
                    }
                    h3 {
                        text-align: center;
                        padding-top: 4.5rem;
                        font-size:1.6rem;
                    }
                    p {
                        text-align: center;
                        width: 20rem;
                    }
                    .btn-bb {
                        display: flex;
                        justify-content: center;
                        .site-md {
                            background-color: $cor_letra_titulo;
                        }
                        .git-md {
                            background-color: $cor_letra_p_lilas;
                        }
                        .letra-card {
                            font-weight: bold;
                            text-transform: uppercase;
                            font-size: 0.8rem;
                            cursor: pointer;
                            color: black;
                        }
                        button {
                            width: 5rem;
                            height: 2rem;
                            border-radius: 6px;
                            margin: 1rem ;
                            border: none;
                            
                        }
                    }
                                
                }
            }
        }
        
    }

    .chaves-inferior {
        font-size: $fonte-titulo;
        color: $cor_branco_geral;
        margin-top: 5rem;
    }
}