.sobre-mim {
    
    .sobre-text {
        font-size: 3rem;
        color: $cor_letra_titulo;
        margin-left: 15rem;
        margin-top: -70rem;
        line-height: 1.8;
        .text-azul {
            @include text-azul;
            margin-left: 5rem
        }
        .text-lilas {
            @include text-lilas;
            margin-left: 5rem
        }
        .pontuacao {
            @include text-pontuacao;
        }
        span {
            color: $cor_branco_geral;
        }
        .texto-sobre {
            margin-left: 5rem;
            color: $cor_letra_p_azul;
            width: 20rem;
            
        }
    }
}