.timeline {
    background-image: url('../../img/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    .faixa-lateral img {
        margin: 6rem 4rem;
        // width: 3rem;
    }
}