.timeline {
    .faixa-lateral img {
        margin-top: 6rem;
        margin-left: 4rem;
        max-width: 5rem;
    }
    .content-jonas {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: -270rem;
        .text-jonas {
            color: #50FA7B;
            font-size: 3rem;
            margin-top: 10rem;
            margin-left: 7rem;
            
            line-height: 1.8;
            .text-front {
                color: #8BE9FD;
                margin-left: 5rem;
            }
            .dev {
                margin-left: 1rem;
                color: #BD93F9;
            }
            .pontuacao {
                color: #FF79C6;
            }
            span {
                color: white;
            }
        }
        .img-jonas img {

        }
        
    }

   
    
}