html, body {
  font-family: "Fira Code", monospace;
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");
  background-color: #1c1c24;
  background-image: linear-gradient(0deg, #1c1c24 0%, #1f1f29 62%);
}

.navbar {
  position: fixed;
}
.navbar .navbar-horizontal {
  background-color: #1c1e26;
  width: 100vw;
}
.navbar .navbar-horizontal .home-superior {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 4rem;
  font-size: 1.5rem;
}
.navbar .navbar-horizontal .home-superior span {
  background-image: url("../../img/css-icon.svg");
  background-size: 1.5rem, contain;
  background-position: 14px 26px;
  background-repeat: no-repeat;
  background-color: rgba(35, 38, 53, 0.9764705882);
  padding: 1.5rem 1.5rem 1rem 2.5rem;
  text-align: center;
  color: #F8F8F2;
}
.navbar .navbar-horizontal .home-superior a {
  padding: 0 3rem;
  background-image: url("../../img/download.svg");
  background-size: 1.5rem, contain;
  background-repeat: no-repeat;
  background-position: 20px;
  font-size: 1.5rem;
  text-decoration: none;
  color: #F8F8F2;
}
.navbar .navbar-horizontal .home-inferior {
  padding: 0.5rem 5rem;
  background-color: rgba(35, 38, 53, 0.9764705882);
  color: #F8F8F2;
}
.navbar .navbar-horizontal .home-inferior .mini-home {
  background-image: url("../../img/css-icon.svg");
  background-size: 1rem, contain;
  background-position: left, bottom;
  background-repeat: no-repeat;
  padding-left: 1rem;
}
.navbar .navbar-horizontal .home-inferior .hashtag {
  color: #FF79C6;
  margin-top: 1rem;
}

.navbar {
  position: fixed;
}
.navbar .navbar-vertical.close {
  background-color: #343644;
  width: 4rem;
  transition: 0.4s;
}
.navbar .navbar-vertical {
  transition: 0.4s;
  background-color: #262939;
  width: 20rem;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.navbar .navbar-vertical .nome-navbar figure img {
  margin: 3rem 0 5rem 0.5rem;
  width: 3rem;
}
.navbar .navbar-vertical .sobre-mim {
  display: flex;
  align-items: center;
}
.navbar .navbar-vertical .sobre-mim a .click-sobre {
  transition: 0.2s;
}
.navbar .navbar-vertical .sobre-mim a .click-styled {
  fill: #F8F8F2;
  border-left: 5px solid #FF79C6;
  width: 2.2rem;
  transition: 0.2s;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre.show-menu {
  display: block;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  display: none;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre h1 {
  margin-bottom: 5.4rem;
  text-transform: uppercase;
  color: #F8F8F2;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre ul li {
  padding: 2rem 0;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre ul li a {
  text-decoration: none;
  color: #F8F8F2;
}
.navbar .navbar-vertical .sobre-mim .navbar-open-sobre .drop {
  padding-top: 2rem;
}
.navbar .navbar-vertical .skils {
  display: flex;
  align-items: center;
}
.navbar .navbar-vertical .skils a .click-skils {
  transition: 0.2s;
}
.navbar .navbar-vertical .skils a .click-styled {
  fill: #F8F8F2;
  border-left: 5px solid #FF79C6;
  width: 2.2rem;
  transition: 0.2s;
}
.navbar .navbar-vertical .skils .navbar-open-skils.show-menu {
  display: block;
}
.navbar .navbar-vertical .skils .navbar-open-skils {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  display: none;
}
.navbar .navbar-vertical .skils .navbar-open-skils h1 {
  margin-top: -15.2rem;
  text-transform: uppercase;
  color: #F8F8F2;
}
.navbar .navbar-vertical .skils .navbar-open-skils input {
  margin-top: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid #FF79C6;
  color: #F8F8F2;
}
.navbar .navbar-vertical .skils .navbar-open-skils ul {
  margin-top: 4rem;
}
.navbar .navbar-vertical .skils .navbar-open-skils ul li {
  padding: 2rem 0;
}
.navbar .navbar-vertical .skils .navbar-open-skils ul li a {
  text-decoration: none;
  color: #F8F8F2;
}
.navbar .navbar-vertical .skils .navbar-open-skils .drop {
  padding-top: 2rem;
}
.navbar .navbar-vertical .portfolio-icon {
  display: flex;
  align-items: center;
}
.navbar .navbar-vertical .portfolio-icon a .click-portfolio {
  transition: 0.2s;
}
.navbar .navbar-vertical .portfolio-icon a .click-styled {
  fill: #F8F8F2;
  border-left: 5px solid #FF79C6;
  width: 2.2rem;
  transition: 0.2s;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio.show-menu {
  display: block;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  display: none;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio h1 {
  margin-top: -26.6rem;
  text-transform: uppercase;
  color: #F8F8F2;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio input {
  margin-top: 2rem;
  height: 2rem;
  background-color: transparent;
  border: 1px solid #FF79C6;
  color: #F8F8F2;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio ul {
  margin-top: 4rem;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio ul li {
  padding: 2rem 0;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio ul li a {
  text-decoration: none;
  color: #F8F8F2;
}
.navbar .navbar-vertical .portfolio-icon .navbar-open-portfolio .drop {
  padding-top: 2rem;
}
.navbar .navbar-vertical .icon-contato {
  display: flex;
  align-items: center;
}
.navbar .navbar-vertical .icon-contato a .click-styled {
  fill: #F8F8F2;
  border-left: 5px solid #FF79C6;
  width: 2.2rem;
  transition: 0.2s;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato.show-menu {
  display: block;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 19rem;
  margin-left: 7rem;
  font-size: 1.5rem;
  display: none;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato h1 {
  margin-top: -35.5rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  color: #F8F8F2;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #F8F8F2;
  margin-left: -0.9rem;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato ul li a svg {
  fill: aqua;
}
.navbar .navbar-vertical .icon-contato .navbar-open-contato .drop {
  padding-top: 2rem;
}
.navbar .navbar-vertical li a svg {
  width: 2rem;
  height: 2rem;
  fill: #6272A4;
  padding: 0.7rem 1.2rem;
  margin: 1rem 0;
}
.navbar .navbar-vertical .drop-down .cores {
  display: none;
}
.navbar .navbar-vertical .drop-down:hover .cores {
  display: block;
  position: absolute;
  margin-left: 4.3rem;
  margin-top: -7rem;
  color: #F8F8F2;
}
.navbar .navbar-vertical .drop-down:hover .cores li figure img {
  width: 3rem;
  transition: 0.6s;
}
.navbar .navbar-vertical .drop-down:hover .cores li figure img:hover {
  width: 3.5rem;
  transition: 0.6s;
}

.timeline .faixa-lateral img {
  margin-top: 5.3rem;
  margin-left: 4rem;
  max-width: 5rem;
  box-shadow: 15px 1px 10px -21px rgba(0, 0, 0, 0.91);
}
.timeline .content-jonas {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: -403rem;
  margin-left: 1rem;
}
.timeline .content-jonas .text-jonas {
  font-size: 3rem;
  color: #50FA7B;
  margin-top: 10rem;
  margin-left: 7rem;
  line-height: 1.8;
}
.timeline .content-jonas .text-jonas .text-azul {
  font-size: 2.5rem;
  color: #8BE9FD;
  margin-left: 5rem;
}
.timeline .content-jonas .text-jonas .text-lilas {
  font-size: 2.5rem;
  color: #BD93F9;
  margin-left: 1rem;
}
.timeline .content-jonas .text-jonas .pontuacao {
  font-size: 2.5rem;
  color: #FF79C6;
}
.timeline .content-jonas .text-jonas span {
  color: #F8F8F2;
}

.sobre-mim .sobre-text {
  font-size: 3rem;
  color: #50FA7B;
  margin-left: 15rem;
  margin-top: -70rem;
  line-height: 1.8;
}
.sobre-mim .sobre-text .text-azul {
  font-size: 2.5rem;
  color: #8BE9FD;
  margin-left: 5rem;
}
.sobre-mim .sobre-text .text-lilas {
  font-size: 2.5rem;
  color: #BD93F9;
  margin-left: 5rem;
}
.sobre-mim .sobre-text .pontuacao {
  font-size: 2.5rem;
  color: #FF79C6;
}
.sobre-mim .sobre-text span {
  color: #F8F8F2;
}
.sobre-mim .sobre-text .texto-sobre {
  margin-left: 5rem;
  color: #8BE9FD;
  width: 20rem;
}

.skills {
  margin-left: 15rem;
  margin-top: 30rem;
}
.skills .text-comentado {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
  opacity: 0.7;
}
.skills .text-comentado p {
  font-size: 2rem;
  color: #6272A4;
  z-index: 1;
}
.skills .text-comentado figure img {
  width: 3rem;
  margin-left: 1rem;
}
.skills .text-skills {
  font-size: 3rem;
  color: #50FA7B;
}
.skills .text-skills span {
  color: #F8F8F2;
}
.skills .skills-content {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.skills .skills-content .javascript figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem 4rem;
}
.skills .skills-content .typecript {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem 4rem;
}
.skills .skills-content .react {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem 4rem;
}
.skills .chaves-inferior {
  font-size: 3rem;
  color: #F8F8F2;
  margin-top: 5rem;
}

.portfolio {
  margin-left: 15rem;
  margin-top: 30rem;
  line-height: 1.8;
}
.portfolio .text-portfolio {
  font-size: 3rem;
  color: #50FA7B;
}
.portfolio .text-portfolio .text-azul {
  font-size: 2.5rem;
  color: #8BE9FD;
  margin-left: 5rem;
}
.portfolio .text-portfolio .text-lilas {
  font-size: 2.5rem;
  color: #BD93F9;
  margin-left: 1rem;
}
.portfolio .text-portfolio .pontuacao {
  font-size: 2.5rem;
  color: #FF79C6;
}
.portfolio .text-portfolio span {
  color: #F8F8F2;
}
.portfolio .portfolio-content {
  margin-left: 5rem;
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .portfolio-content .teste {
  margin-right: 0.5rem;
}
.portfolio .chaves-inferior {
  font-size: 3rem;
  color: #F8F8F2;
  margin-top: 5rem;
}

.contato {
  margin-left: 15rem;
  margin-top: 30rem;
}
.contato .text-contato {
  font-size: 3rem;
  color: #50FA7B;
}
.contato .text-contato span {
  color: #F8F8F2;
}
.contato .icones figure {
  display: flex;
  justify-content: center;
}
.contato .icones figure a img {
  padding: 3rem;
  width: 3rem;
}
.contato .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contato .formulario div {
  display: flex;
  flex-direction: column;
}
.contato .formulario div input {
  width: 30rem;
  height: 2.5rem;
  background-color: rgba(98, 114, 164, 0.4);
  border: 2px solid #8BE9FD;
}
.contato .formulario div input::-moz-placeholder {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(248, 248, 242, 0.5);
  padding-left: 1rem;
  letter-spacing: 0.2rem;
}
.contato .formulario div input::placeholder {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(248, 248, 242, 0.5);
  padding-left: 1rem;
  letter-spacing: 0.2rem;
}
.contato .formulario div label {
  color: #F8F8F2;
  font-size: 1.3rem;
  padding-top: 1rem;
  text-transform: uppercase;
}
.contato .formulario div textarea {
  width: 30rem;
  height: 5rem;
  background-color: rgba(98, 114, 164, 0.4);
  border: 2px solid #8BE9FD;
}
.contato .formulario div textarea::-moz-placeholder {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(248, 248, 242, 0.5);
  padding-left: 1rem;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  padding-top: 1rem;
}
.contato .formulario div textarea::placeholder {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: rgba(248, 248, 242, 0.5);
  padding-left: 1rem;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  padding-top: 1rem;
}
.contato .formulario div button {
  width: 8rem;
  height: 2.5rem;
  margin-top: 2rem;
  background-color: rgba(98, 114, 164, 0.4);
  border: 2px solid #FF79C6;
  font-size: 1rem;
  color: #F8F8F2;
  text-transform: uppercase;
}
.contato .chaves-inferior {
  font-size: 3rem;
  color: #F8F8F2;
  margin-top: 5rem;
}

.jonas-final {
  margin-left: 15rem;
  margin-top: 20rem;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jonas-final .jonas-img-small img {
  width: 15rem;
}
.jonas-final .icones a {
  text-decoration: none;
}
.jonas-final .icones a svg {
  width: 6rem;
  height: 4rem;
  margin: 4rem 1rem;
  fill: #8BE9FD;
  transition: 0.5s;
}
.jonas-final .icones a svg:hover {
  fill: #50FA7B;
  transition: 1s;
}

#open-modal {
  cursor: pointer;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(16, 16, 16, 0.6);
}

.modal-content {
  background-color: #262939;
  margin: 15% auto;
  padding: 20px;
  width: 30rem;
  height: 40rem;
}
.modal-content h2 {
  text-align: center;
  font-size: 2rem;
  color: #50FA7B;
}
.modal-content .modal-lista li a {
  display: flex;
  gap: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 2rem 0 6px 0;
  border-bottom: 1px solid #6272A4;
}
.modal-content .modal-lista li a h3 {
  color: #50FA7B;
}
.modal-content .modal-lista li a p {
  color: #BD93F9;
}
.modal-content .modal-lista li a span {
  color: #FF79C6;
}

#close-modal {
  width: 1.4rem;
  position: absolute;
  margin: -5.6rem 0 0 25rem;
}

#close-modal:hover,
#close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}/*# sourceMappingURL=index.css.map */